@using NullQuestOnline.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_2ColLayout.cshtml";
}

@section left
{
    @Html.KeyOptions(null,
        HtmlHelpers.KeyedOption.Create('1', "Tavern", @Url.Action("Tavern", "Town")),
        HtmlHelpers.KeyedOption.Create('2', "Dungeon", @Url.Action("Index", "Dungeon"))
    )
}

@section right
{
    <h2>Welcome to NullQuest Online!</h2>

    Image of a town
}
